{% if page.drupal_message %}
   <div class="drupal-message">
      <div class="content-inner">
         <a class="_close">x</a>
            {{ page.drupal_message }}
         </div>
   </div>
{% endif %} 