$theme-color: 		#41B3E5;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #41B3E5;
$brand-primary:    #41B3E5;