$theme-color: 		#FFBA0D;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #FFBA0D;
$brand-primary:    #FFBA0D;